
#header-view {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background: #7F7264;
    height: 50px;
    /*line-height: 50px;*/
    z-index:1;
}

#header-content {
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    color: #FFFDFA;
}

#header-content .login-link-text, 
#header-content .login-link-text:hover
{
  color: white;
}

#login-buttons {
    position: absolute;
    right: 0;
    top: 7px;
}

#login-buttons .login-link-text {
    white-space: nowrap;
}

#header-help {
    position: absolute;
    top: 10px;
    left: 100%;
    color: #FFFDFA;
}