<template name="quipsView">


        <div id="quips">

            <div id="quips-blank-top" class="quips-blank"></div>

            {{#if areMoreQuips}}
            <div id="load-more" class="scroll-item {{#if isActive 'load-more'}}active{{/if}}">
                <div class="quip-content">Show more</div>
                <div class="quip-border"></div>
            </div>
            {{/if}} 

            {{#if searchPattern}} 
            <h2 id="search-desc">&lsquo;{{ searchPattern }}&rsquo;</h2>
            <span id="search-quit" class="context-link" title="Clear search">X</span>
            {{/if}}

            {{#if parent}} 
                {{#with parent}}
                    {{> quipView}}
                {{/with}}
            {{/if}}

            {{#each quips}}
                {{> quipView}}
            {{/each}}

            <div id="quipbox" class="quip-draft quip scroll-item {{#if isActive 'quipbox'}}active{{/if}}">
                <div class="quip-border"></div>
                <div class="quip-content">
                    <form id="new-quip">
                        <textarea type="text" class="autosize" id="new-quip-text" name="new-quip-text" placeholder="{{#if greetingMode}}Try it out!{{else}}Quip it{{/if}}" maxlength="4000"></textarea>
                    </form>
                </div>

                {{#if helpOverlay }}
                    {{#if isActive 'quipbox'}}
                        {{> quipCommands}}
                        {{> quipShortcuts}}
                    {{/if}}
                {{/if}}
            </div>

            <div id="quips-blank-bottom" class="quips-blank"></div>

        </div>

</template>

<template name="quipShortcuts">
    <div class="quip-shortcuts help-overlay">
        <div class="margin-note">
            <div>
                <span class="title">Shortcuts</span>
                <i class="remove icon link" title="Close help"></i>
            </div>
            <div class="keyboard-help">
                <div class="key-help"><span class="key"><b>↑</b></span><label>Previous</label></div>
                <div class="key-help"><span class="key"><b>↓</b></span><label>Next</label></div>
                <div class="key-help"><span class="key">Enter</span><label>Edit / Save</label></div>
                <div class="key-help"><span class="key">Esc</span><label>Cancel</label></div>
                <div class="key-help"><span class="key">Home</span><label>Top</label></div>
                <div class="key-help"><span class="key">End</span><label>Bottom</label></div>
                <div class="key-help"><span class="key">Del</span><label>Delete</label></div>
            </div>
        </div>
    </div>
</template>

<template name="quipCommands">
    <div class="quip-commands help-overlay">
        <div class="margin-note">
            <div>
                <span class="title">Commands</span>
                <i class="remove icon link" title="Close help"></i>
            </div>
            <div class="keyboard-help">
                <div class="key-help"><span class="key"><b>? text</b></span><label>Search</label></div>
                <div class="key-help"><span class="key"><b>#tag</b></span><label>Add tag</label></div>
                <div class="key-help"><span class="key"><b>?# tag</b></span><label>List tagged</label></div>
            </div>
        </div>
    </div>
</template>
