<template name="quipsView">


        <div id="quips">

            <div id="quips-blank-top" class="quips-blank"></div>

            {{#if areMoreQuips}}
            <div id="load-more" class="scroll-item {{#if isActive 'load-more'}}active{{/if}}">
                <div class="quip-content">Show more</div>
                <div class="quip-border"></div>
            </div>
            {{/if}} 

            {{#if searchPattern}} 
            <h2 id="search-desc">&lsquo;{{ searchPattern }}&rsquo;</h2>
            <span id="search-quit" class="context-link" title="Quit search">X</span>
            {{/if}}

            {{#each quips}}
            <div id="{{_id}}" class="quip scroll-item {{#if isActive _id}}active{{/if}}">
                {{#if areEditing _id}} {{> quipEdit}} {{else}}
                    <div class="quip-content {{#if hasTags}}has-tags{{/if}}">{{text}}</div>
                    <div class="quip-tags">
                        {{#each tags}}
                        <span class="tag">#{{this}}</span>
                        {{/each}}
                    </div>
                    <div class="quip-del context-link" title="Delete quip">X</div>
                {{/if}}
                <div class="quip-fade"></div>
                <div class="quip-border"></div>
            </div>
            {{/each}}

            <div id="quipbox" class="quip-draft quip scroll-item {{#if isActive 'quipbox'}}active{{/if}}">
                <div class="quip-border"></div>
                <div class="quip-content">
                    <form id="new-quip">
                        <textarea type="text" class="autosize" id="new-quip-text" name="new-quip-text" placeholder="{{#if greetingMode}}Try it out!{{else}}Quip it{{/if}}" maxlength="4000"></textarea>
                    </form>
                </div>
            </div>

            <div id="quips-blank-bottom" class="quips-blank"></div>

        </div>


</template>

