

.quip {
}

.quip-content {
    padding: 12px 15px 12px 25px;
    font-size: 13pt;
    overflow-y: hidden;
}

.quip-content.has-tags {
    padding-top: 22px;
}

.quip-border {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.active .quip-border {
    border: 1px solid gray;
}

.threadParent {
	font-weight: bold;
}

.threadParent .quip-content {
	font-size: 18pt;
	padding-left: 10px;
}

.quip-del {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.quip-del:hover {
}

.quip.active .quip-del {
    display: block;
}

.quip-tags {
    position: absolute;
    top: 2px;
    right: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
}

.quip-tags .tag {
    color: white;
    background-color: #9D9EA7;
    padding: 2px;
    margin-left: 4px;
    cursor: default;
    opacity: 0.6;
}

.quip-tags .tag:hover {
    text-decoration: underline;
    cursor: pointer;
}
