<template name="quipsView">

    <div id="page-body">

        <div id="quips">

            {{#if areMoreQuips}}
            <div id="load-more" class="quip scroll-item {{#if isActive 'load-more'}}active{{/if}}">
                <div class="quip-content">Show more</div>
                <div class="quip-border"></div>
            </div>
            {{/if}} 

            {{#each quips}}
            <div id="{{_id}}" class="quip scroll-item {{#if isActive _id}}active{{/if}}">
                {{#if areEditing _id}} {{> quipEdit}} {{else}}
                    <div class="quip-content">{{text}}</div>
                    <div class="quip-del">X</div>
                {{/if}}
                <div class="quip-fade"></div>
                <div class="quip-border"></div>
            </div>
            {{/each}}

            <div id="new-quip-item" class="quip quip-draft scroll-item {{#if isActive 'new-quip-item'}}active{{/if}}">
                <div class="quip-border"></div>
                <div class="quip-content">
                    <form id="new-quip">
                        <textarea type="text" class="autosize" id="new-quip-text" name="new-quip-text" placeholder="Quip it"></textarea>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- page-content -->

</template>

