

#page-body {
    max-width: 800px;
    /* margin: 50px auto 0px auto; */
    margin: 0 auto;
    padding-top: 60px;
}

#quips {
    line-height: 1.8em;
}

.quip {
}

.quip-content {
    padding: 12px 15px 12px 15px;
    font-size: 13pt;
    overflow-y: hidden;
}

.quip-content.has-tags {
    padding-top: 22px;
}

.quip-border {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.active .quip-border {
    border: 1px solid gray;
}

#new-quip textarea {
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px;
}

#update-quip textarea {
    width: 100%;
    border: none;
    padding: 15px;
    max-height: 50vh;
}

.quip-draft {
    margin-top: 20px;
}

#load-more {
    margin-bottom: 20px;
    padding: 8px;
    cursor: default;
}

#load-more .quip-content {
    background-color: lightblue;
    text-align: center;
    font-variant: small-caps;
}

.quip-del {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.quip-del:hover {
}

.quip.active .quip-del {
    display: block;
}

.quips-blank {
    height: 40vh;
    width: 100%;
}

.quip-tags {
    position: absolute;
    top: 2px;
    right: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
}

.quip-tags .tag {
    color: white;
    background-color: gray;
    padding: 2px;
    margin-left: 4px;
    cursor: default;
    opacity: 0.4;
}

.quip-tags .tag:hover {
    text-decoration: underline;
    cursor: pointer;
}

.context-link {
    cursor: default;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #888888;
    line-height: 1em;
}

.context-link:hover {
    cursor: pointer;
    color: darkblue;
    font-weight: bolder;
}

#search-desc {
    display: inline;
}

#search-quit {
    margin-left: 30px;
}