<template name="quipStream">
    <div class="quipStream twelve wide column"
        {{b "escape: onEscape" }} >

        {{#with parentQuip}}
            <div class="parent">
                {{> quip }}
            </div>
        {{/with}}

        {{#with thisQuip}}
            <div class="subject">
                {{> quip }}
            </div>
        {{/with}}

        <div class="childQuips">
            {{#each childQuips}}
                {{> quip}}
            {{/each}}

            {{> quipEdit ref='quipEditRef' }}

        </div>
    </div>
</template>