<template name="quipBrowser">
    <div class="quipStream twelve wide column"
        {{b '' }} >
        <div class="streamQuips">
            {{#if pageQuipId}}
                {{#with quip}}
                    {{> quipView}}
                {{/with}}
            {{else}}
                <div class="childQuips">
                {{#each quips}}
                    {{> quipView }}
                {{/each}}
                </div>
            {{/if}}
            
            

            {{> quipEdit }}

        </div>
    </div>
</template>