<template name="quipView">
    <div class="quip"
        {{b 'class: { focused: isFocused }' }}>
        
        <div class="thisContent">
            <textarea
                rows="1"
                class="textContent"  
                {{b 'value: text'}} ></textarea>
        </div>
        
        {{#if showChildren}}
            <div class="childQuips">
            {{#each childQuips}}
                    {{> quipView }}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>