<template name="quip">
    <div class="quip"
        {{b "tab: onTab, class: { focused: focused }"}}>
    	<textarea
            rows="1"
            class="textContent"  
            {{b "value: text, enter: enterKey, space: spaceKey, escape: escapeKey, focus: focused, attr: { readonly: readonly }, arrowUp: parent.focusPrev, arrowDown: parent.focusNext, click: onClick, dblclick: onDblClick" }} ></textarea>
        <div 
            class="moreEllipsis" 
            {{b "if: firstChild"}} >...</div>
    </div>
</template>