/******************************
 
    reset
 
******************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/******************************
 
    common
 
******************************/

.center-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
}

.center-y {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 50%;
}
/******************************
 
    model
 
******************************/

body {
    background-color: #fbfdfe;
    margin: 0;
}

#page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 200px;
}

#header {
    height: 40px;
    background-color: #EEEEEE;
    vertical-align: middle;
}

#header h2 {
    padding: 0;
    margin: 0;
}

#footer {
    height: 60px;
    background-color: #EEEEEE;
    display: inline-block;
}

#main {
    height: 100%;
    flex: 1;
    overflow-y: hidden;
    position: relative;
}

.footerButton {
    padding: 8px;
    margin: 6px;
    cursor: default;
    width: 100px;
    border: 1px solid black;
    float: left;
}

.container {
    margin: 0 auto;
}
/* Frame */

.frame {
    height: 100%;
    overflow: hidden;
    padding: 0;
    line-height: 20pt;
}

.frame ul.items {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 24px;
}

.quip {
    width: 100%;
    margin: 4px 0px;
    display: block;
    max-height: 120px;
    transition: max-height .15s ease-out;
    position: relative;
    overflow-y: hidden;
}

.quip-content {
    padding: 17px 10px;
    font-size: 13pt;
    overflow-y: hidden;
}

.quip-border {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.quip-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 20px;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    
    background-image: linear-gradient(to bottom, transparent, #fbfdfe);
}

.quip.active {
    max-height: 400px;
    transition: max-height .4s ease;
    font-weight: bold;
}

.quip.active .quip-border {
    border: 1px solid lightgray;
}

#new-quip input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 13pt;
}

.quip-draft {
    margin-top: 20px;
}
/*#quip-box {
    border: 1px solid lightgray;
    position: absolute;
    top:50%;
    width: 100%;
    height: 120px
}*/
