/******************************
 
    reset
 
******************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/******************************
 
    common
 
******************************/

.center-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
}

.center-y {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 50%;
}
/******************************
 
    model
 
******************************/

body {
    background-color: beige;
    margin: 0;
}

li {
    padding: 30px;
    font-size: 24pt;
}

#page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 200px;
}

#header {
    height: 40px;
    background-color: lightgray;
    vertical-align: middle;
}

#header h2 {
    padding: 0;
    margin: 0;
}

#footer {
    height: 60px;
    background-color: lightgray;
    display: inline-block;
}

#main {
    height: 80hv;
    flex: 1;
    overflow-y: hidden;
}

.quip {
    margin: 60px 10px;
    font-size: 13pt;
}

.footerButton {
    padding: 8px;
    margin: 6px;
    cursor: default;
    width: 100px;
    border: 1px solid black;
    float: left;
}
/*
.frame {
    margin-left: 30px;
    padding: 0;
    width: 300px;
    height: 400px;
}

.frame .slidee {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.frame .slidee p {
    float: left;
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    height: 100px;
}

.scrollbar {
    background-color: gray;
    width: 10px;
    height: 400px;
}

.scrollbar .handle {
    width: 100%;
    height: 100px;
    background: #222;
}

*/



.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
    position: relative;
    float: left;
    width: 550px;
    margin: 0 40px 3em 0;
}
.wrap:nth-child(2n) { margin-right: 0; }

/* Frame */
.frame {
    width: 510px;
    height: 600px;
    overflow: hidden;
    border: 1px solid #444;
}
.frame .slidee {
    padding: 20px 25px;
    background: #fff;
}
.frame ul.items {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 24px;
    line-height: 100px;
}
.frame ul.items li {
    float: left;
    width: 100%;
    height: 100px;
    margin: 0 0 1px;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}
.frame ul.items li.active {
    color: #fff;
    background: #a03232;
}

/* Scrollbar */
.scrollbar {
    position: absolute;
    right: 10px;
    width: 2px;
    height: 600px;
    background: #ccc;
    line-height: 0;
}
.scrollbar .handle {
    width: 100%;
    height: 100px;
    background: #292a33;
    cursor: pointer;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: 0;
    left: -10px;
    width: 22px;
    height: 100%;
}
