
@import "lib/semantic-ui/semantic.less";

/******************************
 
    reset
 
******************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100% !important;
}

body {
  /*min-height: 100% !important;*/
  height: initial !important;
  min-height: 500px;
}

textarea {
    resize: none;
    outline: none;
    font-size: 13pt;
}
