
#page-body {
    max-width: 800px;
    margin: 60px auto 0px auto;
}

#site-greeting {
    /*position: fixed;
    top: 100px;*/

    padding-top: 40px;
    width:800px;
}

#site-greeting h1 {
    font-size: 36pt;
    display: inline;
}

#site-greeting .title-block {
    padding-bottom: 30px;
}

#site-greeting .counterpoint {
    font-size: 26pt;
    font-weight: normal;
    padding-left: 50px;
    color: #5F6274;
    display: inline;
}

.quip.greeting {
  position: relative;
  margin: 5px 0;
}